<?xml version="1.0" encoding="UTF-8"?>
<bean:beans xmlns:bean="http://www.springframework.org/schema/beans"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/security"
            xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <global-method-security
            secured-annotations="enabled">
    </global-method-security>

    <http auto-config="true" use-expressions="true" authentication-manager-ref="authenticationManager">
        <intercept-url pattern="/resources/**" access="permitAll"/>
        <intercept-url pattern="/index.xhtml" access="permitAll"/>
        <intercept-url pattern="/error.xhtml" access="permitAll"/>
        <intercept-url pattern="/**" access="authenticated"/>
<!--
        <intercept-url pattern="/**" access="hasRole('ROLE_Usuario')"/>
-->
        <form-login
                login-page="/index.xhtml"
                default-target-url="/consultarInventario.xhtml"
                always-use-default-target="true"/>

        <logout
                invalidate-session="true"
                delete-cookies="JSESSIONID,SPRING_SECURITY_REMEMBER_ME_COOKIE"
                logout-success-url="/index.xhtml"></logout>
    </http>

    <!--
      Consulta por nombre de usuario unico (no por Common Name).
      Se añaden los grupos (como roles de usuario) al que pertenezca.
  -->
    <authentication-manager alias="authenticationManager">
        <ldap-authentication-provider server-ref="ldapLocal"
                                      user-search-filter="(sAMAccountName={0})"
                                      user-search-base="cn=Users"
                                      group-search-base="cn=Users">
                                      <!--group-search-filter="(member={0})"-->
        </ldap-authentication-provider>
    </authentication-manager>

    <!-- La IP de la máquina donde esté el ldap. El usuario y la clave de un administrador -->
    <ldap-server id="ldapLocal"
                 url="ldap://infra.tcs.local:389/DC=tcs,DC=local"
                 manager-dn="CN=incidencias, CN=Users, DC=tcs, DC=local"
                 manager-password="sDuZv5TfCMOgQ5" />

<!--
    <authentication-manager alias="authenticationManager">
        <authentication-provider>
            <user-service>
                <user name="nessa" password="1234" authorities="ROLE_Usuario" />
            </user-service>
        </authentication-provider>
    </authentication-manager>
-->

</bean:beans>