<?xml version="1.0" encoding="UTF-8"?>
<bean:beans xmlns:bean="http://www.springframework.org/schema/beans"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/security"
            xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <global-method-security
            secured-annotations="enabled">
    </global-method-security>

    <http pattern="/resources/**" security="none" />
    <http pattern="/index.xhtml" security="none"/>
    <http pattern="/error.xhtml" security="none"/>

    <http auto-config="true" use-expressions="true" authentication-manager-ref="authenticationManager">

        <intercept-url pattern="/**" access="authenticated"/>
<!--
        <intercept-url pattern="/**" access="hasRole('ROLE_Usuario')"/>
        -->
<form-login
      login-page="/index.xhtml"
      default-target-url="/consultarInventario.xhtml"
      always-use-default-target="true"/>

<logout
      invalidate-session="true"
      delete-cookies="JSESSIONID,SPRING_SECURITY_REMEMBER_ME_COOKIE"
      logout-success-url="/index.xhtml"></logout>
</http>


<!--
Consulta por nombre de usuario unico (no por Common Name).
Se añaden los grupos (como roles de usuario) al que pertenezca.
-->

    <authentication-manager alias="authenticationManager">

        <authentication-provider user-service-ref="userAdmin"/>
        <authentication-provider ref="ldapAuthProviderSoporte"/>
        <authentication-provider ref="ldapAuthProviderLideres"/>

    </authentication-manager>

    <!-- La IP de la máquina donde esté el ldap. El usuario y la clave de un administrador -->
    <ldap-server id="ldapLocal"
                 url="ldap://infra.tcs.local:389/DC=tcs,DC=local"
                 manager-dn="CN=incidencias, CN=Users, DC=tcs, DC=local"
                 manager-password="sDuZv5TfCMOgQ5" />

    <bean:bean id="ldapAuthProviderSoporte" class="org.springframework.security.ldap.authentication.LdapAuthenticationProvider">
        <bean:constructor-arg name="authenticator">
            <bean:bean class="org.springframework.security.ldap.authentication.BindAuthenticator">
                <bean:constructor-arg ref="ldapLocal" />
                <bean:property name="userSearch">
                    <bean:bean class="org.springframework.security.ldap.search.FilterBasedLdapUserSearch">
                        <bean:constructor-arg name="searchBase" value="CN=Users"/>
                        <bean:constructor-arg name="searchFilter" value="(&amp;(sAMAccountName={0})(memberof=CN=soporteinterno, CN=users, DC=tcs, DC=local))"/>
                        <bean:constructor-arg name="contextSource" ref="ldapLocal"/>
                    </bean:bean>
                </bean:property>
            </bean:bean>
        </bean:constructor-arg>
    </bean:bean>

    <bean:bean id="ldapAuthProviderLideres" class="org.springframework.security.ldap.authentication.LdapAuthenticationProvider">
        <bean:constructor-arg name="authenticator">
            <bean:bean class="org.springframework.security.ldap.authentication.BindAuthenticator">
                <bean:constructor-arg ref="ldapLocal" />
                <bean:property name="userSearch">
                    <bean:bean class="org.springframework.security.ldap.search.FilterBasedLdapUserSearch">
                        <bean:constructor-arg name="searchBase" value="CN=Users"/>
                        <bean:constructor-arg name="searchFilter" value="(&amp;(sAMAccountName={0})(memberof=CN=lideres, CN=users, DC=tcs, DC=local))"/>
                        <bean:constructor-arg name="contextSource" ref="ldapLocal"/>
                    </bean:bean>
                </bean:property>
            </bean:bean>
        </bean:constructor-arg>
    </bean:bean>

    <user-service id="userAdmin">
        <user name="administrador" password="TCS4dm1n" authorities="authenticated"/>
    </user-service>

</bean:beans>